<article>
      <header class="border-bottom pb-4 mb-4">

        <h1 class="display-1">{{ videoitem.title }} </h1>
        {% block extraArticleHeader %}
           <aside class="fw-bold">
            desc:      {{ videoitem.desc | safe }}
           </aside>
          <p>Published
            <time datetime="{{ videoitem.kvtime | htmlDateString }}">{{videoitem.kvtime | readableDate }}</time>
          </p>
          {%- for tag in tags | filterTagList -%}
            {%- set tagUrl %}/videoitem.tags/{{ tag | slug }}/{% endset -%}
            <a href="{{ tagUrl | url }}" class="btn btn-outline-dark btn-sm me-2">{{ tag }}</a>
          {%- endfor %}
            
        {% endblock %}
      </header>
      <p class="lead">
        {{ summary }}
      <img src="{{videoitem.img|url }}"> 
      </p>
      {{ videoitem.desc | safe }}
    </article>
