---
layout: layouts/vitemlayout.njk
title: sigle video item
pagination:
    data: videoInfo
    size: 1
    reverse: true
    alias: videoitem
permalink: "/videoitem/{{videoitem.videoid | slugify }}/"
---

<p class="lead">  go head, go standy, take time, take easy </p>
